{%
  set classes = [
    'paragraph-layout',
    'paragraph-layout--8-4',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="row">
      {% if content.region1 %}
        <div {{ region_attributes.region1.addClass('paragraph-layout__region', 'paragraph-layout__region--first') }}>
          {{ content.region1 }}
        </div>
      {% endif %}

      {% if content.region2 %}
        <div {{ region_attributes.region2.addClass('paragraph-layout__region', 'paragraph-layout__region--second') }}>
          {{ content.region2 }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
