{#
/**
* Stack detail. Same as Stack simple but with added summary.
*
* List of regions: image, title, info, summary, date, tags.
*/
#}

{%
  set classes = [
    'stack',
    'stack--detail',
    'card',
  ]
%}

<div {{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}

  {% block image %}
    {% if content.image|render|striptags('<img>')|trim %}
      <div{{ region_attributes.image.addClass('layout__region', 'layout__region--image', 'stack__image image--decorative') }}>
        {{ content.image }}
      </div>
    {% endif %}
  {% endblock %}

  {% block content %}
    {% if content %}
      <div class="stack__content card-body">

        {% block info %}
          {% if content.info|render|striptags|trim %}
            <div{{ region_attributes.info.addClass('layout__region', 'layout__region--info', 'stack__info', 'card-subtitle') }}>
              {{ content.info }}
            </div>
          {% endif %}
        {% endblock %}

        {% block title %}
          {% if content.title|render|striptags|trim %}
            <h3{{ region_attributes.title.addClass('layout__region', 'layout__region--title', 'stack__title', 'card-title') }}>
              {{ content.title }}
            </h3>
          {% endif %}
        {% endblock %}

        {% block summary %}
          {% if content.summary|render|striptags|trim %}
            <div{{ region_attributes.summary.addClass('layout__region', 'layout__region--summary', 'stack__summary') }}>
              {{ content.summary }}
            </div>
          {% endif %}
        {% endblock %}

        {% block date %}
          {% if content.date|render|striptags|trim %}
            <small{{ region_attributes.date.addClass('layout__region', 'layout__region--date', 'stack__date') }}>
              {{ content.date|render|striptags('<time>')|raw }}
            </small>
          {% endif %}
        {% endblock %}

        {% block tags %}
          {% if content.tags|render|striptags|trim %}
            <div{{ region_attributes.tags.addClass('layout__region', 'layout__region--tags', 'stack__tags') }}>
              {{ content.tags }}
            </div>
          {% endif %}
        {% endblock %}

      </div>
    {% endif %}
  {% endblock %}

</div>
