{#
/**
* Tile view mode.
*
* List of regions: title, summary, image.
*/
#}

{%
  set classes = [
  'tile',
]
%}

<div {{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}

  {% if item_url %}
  <a href="{{ item_url }}" class="tile__link">
    {% endif %}

    {% block title %}
      {% if content.title|render|striptags|trim %}
        <h3{{ region_attributes.title.addClass('layout__region', 'layout__region--title', 'tile__title') }}>
          {{ content.title }}
        </h3>
      {% endif %}
    {% endblock %}

    {% block summary %}
      {% if content.summary|render|striptags|trim %}
        <div{{ region_attributes.summary.addClass('layout__region', 'layout__region--summary', 'tile__summary') }}>
          {{ content.summary }}
        </div>
      {% endif %}
    {% endblock %}

    {% block image %}
      {% if content.image|render|striptags('<img>')|trim %}
        <div{{ region_attributes.image.addClass('layout__region', 'layout__region--image', 'tile__image', 'image--decorative') }}>
          {{ content.image }}
        </div>
      {% endif %}
    {% endblock %}

    {% if item_url %}
  </a>
  {% endif %}

</div>
