{#
/**
 * @file
 * Default theme implementation for a four-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout',
    'layout--fourcol-section',
  ]
%}
{% set content_render = content|render %}
{% if content_render %}
  <div{{ attributes.addClass(classes) }}>
    <div class="layout__region-container">
      <div class="layout__region-row">
        {% set first_region_render = content.first|render %}
        {% if first_region_render %}
          <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first') }}>
            {{ first_region_render }}
          </div>
        {% endif %}

        {% set second_region_render = content.second|render %}
        {% if second_region_render %}
          <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second') }}>
            {{ second_region_render }}
          </div>
        {% endif %}

        {% set third_region_render = content.third|render %}
        {% if third_region_render %}
          <div {{ region_attributes.third.addClass('layout__region', 'layout__region--third') }}>
            {{ third_region_render }}
          </div>
        {% endif %}

        {% set fourth_region_render = content.fourth|render %}
        {% if fourth_region_render %}
          <div {{ region_attributes.fourth.addClass('layout__region', 'layout__region--fourth') }}>
            {{ fourth_region_render }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
